<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="GIZMO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <Append>true</Append>
        <File>${catalina.base}/logs/gizmo.log</File>
        <encoder>
            <pattern>%date [%thread] %-5level \(%logger{46}\): %message%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/gizmo.log.%d{yyyy-MM-dd}</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="OFF"/>
    <logger name="sk.lazyman.gizmo" level="INFO" />
    <root level="WARN">
        <appender-ref ref="GIZMO_LOG"/>
    </root>
</configuration>


