h1.page-header {
  margin: 0;
  margin-bottom: 10px; //@padding-large-vertical not working
  padding-bottom: 0;
}

.alert {
  font-weight: 400;
}

.table-responsive {
  overflow-x: auto;

  & > table {
    margin-bottom: 0px;
  }
}

form.form-inline.pull-right.search {
  margin-bottom: 10px;
}

// autocomplete
div.wicket-aa {
  font-size: 12px;
  background-color: #fff;
  color: #555;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  padding: 2px;
  margin: 1px 0 0 0;
  text-align: left;

  ul {
    list-style: none;
    padding: 2px;

    li {
      padding: 2px 4px;

      &.selected {
        background-color: #eee;
        color: #262626;
      }
    }
  }
}