<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="list-group-item" wicket:id="repeater">
        <a wicket:id="link">
            <h5 class="list-group-item-heading">
                <span wicket:id="name"/>&nbsp;<small><span wicket:id="description"/></small>
            </h5>
        </a>
        <a wicket:id="edit" class="btn btn-xs btn-default pull-right" wicket:message="title:CompanyList.edit">
            <i class="fa fa-fw fa-pencil"/>
        </a>
        <div class="clearfix" wicket:id="properties"/>
    </div>
</wicket:panel>
</body>
</html>
