<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>

    <form wicket:id="form" class="bg-white p-4 rounded shadow-sm">
        <div class="col-12">
                <div wicket:id="monthNavigation"/>
        </div>




        <div class="d-flex justify-content-center mb-3">
            <div class="w-100" style="max-width: 600px;">
                <label>
                    <input type="checkbox" wicket:id="includeDisabled"/>
                    Include disabled users
                </label>
                <div class="mb-3">
                    <select wicket:id="realizator" multiple class="form-control"></select>
                </div>
                <div class="form-group">
                    <label>Labels</label>
                    <select wicket:id="labels" class="form-select" style="width: 600px;"></select>
                </div>
                <div>
                    <div wicket:id="customer"></div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mb-3">
            <div>
                <button wicket:id="preview" class="btn btn-primary me-2">Preview</button>
                <button wicket:id="export" class="btn btn-secondary">Export</button>
            </div>
        </div>
    </form>

    <div wicket:id="confirmDownload"></div>
    <wicket:child/>
</wicket:panel>
</body>
</html>
