<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <form wicket:id="form" class="download-config-form">
        <div class="form-group">
            <label wicket:for="reportName">File name</label>
            <input wicket:id="reportName" type="text" class="form-control"/>
        </div>
        <div class="custom-control custom-switch mb-3">
            <input type="checkbox" wicket:id="perUser" class="custom-control-input"/>
            <label wicket:id="perUserLabel" class="custom-control-label">Per user (user per sheet)</label>
        </div>
        <a wicket:id="export" class="btn btn-primary">Download</a>
    </form>
</wicket:panel>